<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Struct Template">
  <meta property="og:type" content="website">
  <meta property="og:image" content="image.png">
</head>
<body>
  <h1>Wisdom for the ages</h1>
  <ul>
    {{range .Wisdom}}
      <li>{{.Name}} - {{.Motto}}</li>
    {{end}}
  </ul>
  <h1>Cars for the Sages</h1>
  <ul>
    {{range .Transport}}
      <li>Manufacturer {{.Manufacturer}}</li>
      <li>Model {{.Model}}</li>
      <li>Doors {{.Doors}}</li>
    {{end}}
  </ul>
</body>
</html>

