<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Create Successful</h1>
    <p>{{.Title}}</p>
    <p>{{.Author}}</p>
    <p>{{.ISBN}}</p>
    <p>{{.Price}}</p>
</body>
</html>