<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doge</title>
</head>
<body>
    <h1>This is from Dog</h1>
    <section>
        <p>You are visiting from: {{.Host}}</p>
        <p>And looking for this path: {{.Path}}</p>
        <p>Here is doge for</p>
        <img src="/resources/dog.jpeg" />
    </section>
</body>
</html>