<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <h1>Your pictures</h1>
    {{range .}}
    <section>
        <img src="/public/pics/{{.}}" width="400px"/>
    </section>
    {{end}}
    <form enctype="multipart/form-data" method="post">
        <input type="file" name="nf"/>
        <input type="submit"/>
    </form>
</body>
</html>